.modal {
    align-items: center;
    backdrop-filter: blur(.5rem);
    background: rgba(0, 0, 0, 0.75);
    display: none;
    inset: 0; 
    min-height: 100vh;
    justify-content: center;
    opacity: 0;
    position: fixed;
    transition: opacity 0.5s ease;
    width: 100vw;
    z-index: 1000;

    &.active {
        display: flex;
        animation: fadeIn 0.5s ease forwards;
    }

    &#bet-modal {
        align-content: center;
        display: grid;

        &:not(&.active) {
            display: none;
        }

        .bet-modal-header {
            align-items: stretch;
            background: var(--primaryGold);
            border-radius: .5rem .5rem 0 0;
            display: grid;
            gap: .5rem;
            grid-template-columns: 1fr auto;
            padding: 1rem;

            .bet-modal-chip-balance {
                align-items: center;
                background-color: var(--primaryGoldLighten);
                border-radius: .25rem;
                border: 2px solid var(--primaryGoldDarken);
                color: var(--primaryGoldDarken);
                display: flex;
                gap: .5rem;
                justify-content: center;
                padding: .5rem;
                position: relative;
                text-align: center;
                width: 100%;

                p {
                    font-size: 1.25rem;
                    font-weight: 700;
                }

                .coinIcon,
                .plusIcon {
                    &::before {
                        font-size: 1.25rem;
                    }
                }

                .plusIcon {
                    align-self: center;
                    display: grid;
                    position: absolute;
                    right: .5rem;
                }
            }

            .bet-modal-stats-rules {
                display: grid;
                gap: .5rem;
                grid-template-columns: 1fr 1fr;

                button {
                    grid-template-columns: auto 1fr;
                }
            }
        }

        .bet-modal-content {
            display: grid;
            gap: .5rem;
            padding: 1rem;
            text-align: left;

            .bet-modal-text-block {
                display: grid;
                gap: .25rem;

                .bet-modal-subtitle {
                    font-family: var(--bodyFontFamily);
                    font-size: 1rem;

                    strong {
                        font-weight: 700;
                    }
                }

                .bet-modal-title {
                    font-family: var(--headingFontFamily);
                    font-size: 1.75rem;
                }
            }

            .bet-input-container {
                display: grid;
                gap: .5rem;
                grid-template-columns: auto max-content;

                input {
                    background-color: var(--white);
                    border: 2px solid var(--neutralGray);
                    font-weight: 600;
                    padding: 1rem .5rem;

                    &:placeholder-shown {
                        color: var(--neutralGrayDarken);
                    }
                }
            }
        }
    }

    .modal-content {
        animation: fadeIn 0.5s ease forwards;
        background: var(--offWhite);
        border-radius: .5rem;
        position: relative;
        text-align: center;
        width: calc(100vw - 1rem);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (min-width: 768px) {
    .modal-content {
        max-width: 40vw;
    }
}