button {
    align-items: center;
    border-radius: .5rem;
    border: 2px solid transparent;
    cursor: pointer;
    display: grid;
    font-weight: 600;
    gap: .5rem;
    grid-template-columns: auto max-content;
    justify-content: center;
    padding: 1rem 1.5rem;
    text-align: center;

    &.smallButton {
        font-size: .875rem;
        gap: .25rem;
        padding: .5rem 1rem;
    }

    &.primaryButton {
        background: linear-gradient(180deg, var(--primaryGreen) 50%, var(--primaryGreenDarken) 100%);
        border: 2px solid var(--primaryGreenDarken);
        box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .35);
        color: var(--offWhite);
        text-shadow: 0 -1px 1px var(--primaryGreenDarken50);

        &.danger {
            background: linear-gradient(180deg, var(--accentColor) 50%, var(--accentColorDarken) 100%);
            border: 2px solid var(--accentColorDarken);
            box-shadow: inset 0px 1px 2px var(--white);
            color: var(--offWhite);
            text-shadow: 0 -1px 1px var(--accentColorDarken);

            &:active,
            &:hover {
                background: var(--accentColor);
            }
        }

        &:hover {
            background: var(--primaryGreen);
        }
    }

    &.secondaryButton {
        background: linear-gradient(180deg, var(--offWhite) 50%, var(--neutralGray) 100%);
        border: 2px solid var(--neutralGray);
        box-shadow: inset 0px 1px 2px var(--white);
        color: var(--offBlack);
        text-shadow: 0 -1px 1px var(--white);

        &:hover {
            background: var(--offWhite);
        }

        &:active {
            background-color: var(--primaryGreenDarken);
        }
    }

    &.tertiaryButton {
        background: linear-gradient(180deg, var(--primaryGreenDarken) 50%, var(--primaryGreenDarken75) 100%);
        border: 2px solid var(--primaryGreenDarken75);
        box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .35);
        color: var(--offWhite);
        text-shadow: 0 -1px 1px var(--black);

        &:hover {
            background: var(--primaryGreenDarken);
        }

        &:active {
            background-color: var(--primaryGreen);
            color: var(--offWhite);
        }
    }

    &.quaternaryButton {
        background-color: var(--offBlack);
    }

    &:disabled {
        background: var(--neutralGray);
        border-color: transparent;
        box-shadow: none;
        color: var(--neutralGrayDarken);
        cursor: not-allowed;
        text-shadow: none;

        &:hover {
            background: var(--neutralGray);
            border-color: transparent;
            box-shadow: none;
            color: var(--neutralGrayDarken);
            cursor: not-allowed;
            text-shadow: none;
        }
    }
}