.modal {
    .secret-modal-header {
        background-color: var(--accentColor);
        border-radius: .5rem .5rem 0 0;
        color: var(--offWhite);
        display: grid;
        font-size: 1.5rem;
        grid-template-columns: auto max-content;
        padding: 1rem;

        .headerTextContainer {
            display: grid;
            gap: .5rem;
            grid-template-columns: max-content max-content;

            p {
                font-family: var(--headingFontFamily);
            }
        }
    }

    .secret-modal-content {
        display: grid;
        gap: .5rem;
        padding: 1rem;
        text-align: left;

            input {
                background-color: var(--white);
                border: 2px solid var(--neutralGray);
                border-radius: .5rem;
                font-weight: 700;
                padding: 1rem;
                text-align: center;

                &:placeholder-shown {
                    color: var(--neutralGray);
                    font-weight: 500;
                }
            }

        .buttonContainer {
            display: grid;
            gap: .5rem;
            grid-template-columns: 1fr 1fr;

            button {
                align-content: center;
            }
        }
    }
}