span {
    &::before {
        font-family: 'IconFont';
    }
}

.blackjackIcon {
    &::before {
        content: '\e3ed';
    }
}

.bustIcon {
    &::before {
        content: '\e4dc';
    }
}

.cancelIcon {
    &::before {
        content: '\f05e';
    }
}

.cardIcon {
    &::before {
        content: '\e4df';
    }
}

.coinIcon {
    &::before {
        content: '\f51e';
    }
}

.checkIcon {
    &::before {
        content: '\f058';
    }
}

.chipIcon {
    &::before {
        content: '\f85c';
    }
}

.clockIcon {
    &::before {
        content: '\e29e';
    }
}

.closeIcon {
    &::before {
        content: '\f057';
    }
}

.clubIcon {
    &::before {
        content: '\f327';
    }
}

.crossMarkIcon {
    &::before {
        content: '\f057';
    }
}

.diamondIcon {
    &::before {
        color: var(--accentColor);
        content: '\e23b';
    }
}

.dollarBillIcon {
    &::before {
        content: '\f53b';
    }
}

.doubleDownIcon {
    &::before {
        content: '\f322';
    }
}

.flagIcon {
    &::before {
        content: '\f024';
    }
}

.gearCodeIcon {
    &::before {
        content: '\e5e8';
    }
}

.heartIcon {
    &::before {
        color: var(--accentColor);
        content: '\f004';
    }
}

.heartBreakIcon {
    &::before {
        content: '\f7a9';
    }
}

.hitIcon {
    &::before {
        content: '\f6de';
    }
}

.longRightArrowIcon {
    &::before {
        content: '\f30b';
    }
}

.medalIcon {
    &::before {
        content: '\f5a2';
    }
}

.moneyFaceIcon {
    &::before {
        content: '\e39d';
    }
}

.moneyHandsIcon {
    &::before {
        content: '\f4c5';
    }
}

.moneySackIcon {
    &::before {
        content: '\f81d';
    }
}

.plusIcon {
    &::before {
        content: '\f055';
    }
}

.refreshIcon {
    &::before {
        content: '\f01e'
    }
}

.repeatIcon {
    &::before {
        content: '\f364';
    }
}

.rulesIcon {
    &::before {
        content: '\f02e';
    }
}

.skullIcon {
    &::before {
        content: '\f714';
    }
}

.statsIcon {
    &::before {
        content: '\e473';
    }
}

.spadeIcon {
    &::before {
        content: '\f2f4';
    }
}

.sparkleIcon {
    &::before {
        content: '\f890';
    }
}

.trophyIcon {
    &::before {
        content: '\f091';
    }
}