.toast {
    border-radius: 0 0 1rem 1rem;
    border: none;
    cursor: pointer;
    display: grid;
    filter: drop-shadow(0 1rem 2rem rgba(0,0,0,1));
    font-size: 1.125rem;
    font-weight: bold;
    gap: .5rem;
    justify-items: center;
    justify-self: center;
    opacity: 0;
    padding: 1rem;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    top: -6rem;
    transition: top 0.5s ease, opacity 0.5s ease;
    user-select: none;
    width: 100%;
    z-index: 2000;

    &:active {
        cursor: grabbing;
    }

    &.bust,
    &.dealer-wins {
        background-color: var(--accentColor);
        color: var(--offWhite);
    }

    &.chips-added {
        background-color: var(--primaryGoldLighten);
        color: var(--primaryGoldDarken);
    }

    &.push {
        background-color: var(--primaryGoldLighten);
        color: var(--primaryGoldDarken);
    }

    &.show {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    &.swiping {
        transition: none;
    }

    &.victory {
        background-color: var(--primaryGreen);
        color: var(--offWhite);
    }

    span {
        font-size: 2rem;
        line-height: 1;
    }
}

@media (min-width: 768px) {
    .toast {
        max-width: 48rem;
    }
}