:root {
    --accentColor: #AF5646;
    --accentColorDarken: #542922;
    --black: #000000;
    --neutralGray: #D3D3D3;
    --neutralGrayDarken: #707070;
    --offBlack: #222222;
    --offWhite: #F6F6F6;
    --primaryGold: #F1AF1E;
    --primaryGoldDarken: #4D3605;
    --primaryGoldLighten: #FBE5B7;
    --primaryGreen: #17634A;
    --primaryGreenDarken50: #061D18;
    --primaryGreenDarken75: #030F0C;
    --primaryGreenDarken: #0C3729;
    --primaryGreenLighten: #1F946D;
    --white: #FFFFFF;
    
    --headingFontFamily: 'Merriweather', serif;
    --bodyFontFamily: 'Work Sans', sans-serif;
}

@font-face {
    font-display: swap;
    font-family: 'IconFont';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/icon-font.woff2') format('woff2'),
         url('../../fonts/icon-font.ttf') format('truetype');
}